<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
 

<% @products.each do |product| %>
  <div class="entry">

    <h3><%= product.code %> <%= product.name %></h3>    
    <%= sanitize(product.name) %>
    <div class="price_line">
      <span class="price"><%= number_to_currency(product.price,{:unit => "&pound;"})%></span>
      <%= button_to 'Add to Cart', line_items_path(:product_id => product) %>


    </div>
  </div>
<% end %>

<p> Complete Features: <br>As a user I will save %10 for the purchases greater then 60&pound; <br>
As I user I can choose items  in any order </p>

<p> Incomplete Feature: <br>As a user I get discount if I buy 2 or more Lavender Hearts</p>
